In [153]:
import pandas as pd

In [154]:
#Dataset is taken from website "https://www.kaggle.com/datasets/nehalbirla/vehicle-dataset-from-cardekho"

used_car=pd.read_csv('cardekho_cars.csv')

In [155]:
used_car

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna 1.4 CRDi (Diesel),2014,409999,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna 1.4 CRDi,2014,409999,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC BSIII,2009,110000,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6 CRDi SX Option,2016,865000,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,2016,225000,40000,Petrol,Individual,Manual,First Owner

In [156]:
used_car.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [157]:
used_car.shape #to check how much data we have

(4340, 8)

In [158]:
used_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [159]:
#null check
used_car.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [160]:
#Duplicate check
used_car.duplicated().sum()

763

In [161]:
used_car.drop_duplicates(inplace=True)

In [162]:
used_car.shape

(3577, 8)

In [163]:
#Data Analysis

for col in used_car.columns:
    print('Unique values of ' + col)
    print(used_car[col].unique())
    print("======================")

Unique values of name
['Maruti 800 AC' 'Maruti Wagon R LXI Minor' 'Hyundai Verna 1.6 SX' ...
 'Mahindra Verito 1.5 D6 BSIII'
 'Toyota Innova 2.5 VX (Diesel) 8 Seater BS IV'
 'Hyundai i20 Magna 1.4 CRDi']
======================
Unique values of year
[2007 2012 2017 2014 2016 2015 2018 2019 2013 2011 2010 2009 2006 1996
 2005 2008 2004 1998 2003 2002 2020 2000 1999 2001 1995 1997 1992]
======================
Unique values of selling_price
[  60000  135000  600000  250000  450000  140000  550000  240000  850000
  365000  260000 1650000  585000 1195000  390000 1964999 1425000  975000
 1190000  930000  525000 1735000 1375000  900000 1300000 1400000  229999
 1550000 1250000  625000 1050000  560000  290000  275000  411000  150000
  500000  100000  725000  401000  750000  310000  665000  465000  160000
  675000  300000   70000  151000  280000  350000  570000  125000  130000
  925000  200000  248000   80000  650000  495000  371000 1025000 8150000
  325000 1470000 2800000  210000 1150000 4500000 2750000 1975000  175000
 2500000  628000  399000  315000  780000  434000  690000  555000  120000
  165000   95000  800000  840000  490000  400000 1000000  530000   40000
   75000  540000  700000  430000   65000  195000  170000  225000   99000
  620000 2550000  320000  810000  282000   72000  640000  380000 1500000
  434999  190000 2900000  425000  265000  890000  685000  940000  590000
  385000 2000000  235000   52000   89999  180000  285000 1075000   90000
  220000  110000  880000  115999  360000  680000  860000  270000  395000
  624000  345000  106000 1800000  575000  370000   50000   55000  755000
  720000 1100000  159000  335000  185000  470000  145000  595000 1600000
  105000  409999  215000  475000  330000 1044999 1350000  420000  760000
   43000 1850000 1125000  133000  352000  520000  509999  556000  484999
  565000  295000 2050000 1475000 4400000  670000  770000  775000 1725000
 2150000 3800000 1580000 4950000  535000  239000 2600000  114999  200999
  710000  969999  155000  138000  311000   58000  183000  825000  299000
  639000  415000 1199000  699000  269000  249000 1549000  254999  211000
  599000 4000000 1200000   98000  790000 1700000   68000  875000 1330000
  919999  611000  711000  851000  610000  744000  480000  950000   85000
  615000  227000  222000  735000  271000 1490000  455000  421000 2700000
 4700000 1900000 1770000  660000  716000  147000 1140000 3050000  375000
 1950000  340000 3100000  245000  715000 1750000 3500000  835000 2490000
 1015000   91200 2400000  635000  302000  204999  341000  819999  351000
  630000 1085000  580000   78000 3200000  695000  355000  619000   81000
  486000  802000 2300000  287000  250999   45000 1485000 1825000 3256000
  451000  149000  163000  419000  990000  346000  509000   69000 1380000
  256000   97000  199000 2595000  730000  368000  545000  641000  784000
  324000 2100000  305000  221000  828999 1119000  746000 1030000 1334000
  811999 1331000  852000  830000  213000   35000  869999  178000  515000
  312000  111000  774000  148000   57000  284000  349000  458000  381000
  751000  782000  321000   92800  291000   73000  655000  263000  217000
  539000  142000  910000  740000  164000  999000   56000 3899000  440000
  238000 1295000  541000  894999  844999  288000 1225000 1010000   30000
  396000  281000   93000  459999   88000   22000   79000  198000  182000
  861999  836000  696000  596000  612000   20000   61000  511000 1230000
  426000   62000 1450000   71000 2200000 1249000 1240000 1068000 1189000
  363000  821000  815000  738000  765000  516000  134000  347000 2650000
 2675000  359000  980000  707000  471000  377000  763000  701000  277000
  936999   82000  799000 1451000 1575000   78692  479000   48000  121000
  785000  173000 4800000  587000  123000 1290000  193000  721000 1040000
 2349000 1165000   42000 1680000  231999  841000 1280000 1090000  449000
  724000  126000  795000 2575000 1035000 1260000 8900000 1860000 4200000
 5500000  430999 1151000  927999   51111  212000  428000  219000  749000
  233000  614000   37500  865000]
======================
Unique values of km_driven
[ 70000  50000 100000  46000 141000 125000  25000  60000  78000  35000
  24000   5000  33000  28000  59000   4500 175900  14500  15000  33800
 130400  80000  10000 119000  75800  40000  74000  64000 120000  79000
  18500  10200  29000  90000  73300  92000  66764 350000 230000  31000
  39000 166000 110000  54000  63000  76000  11958  20000   9000   6500
  58000  62200  34000  53000  49000  63500   9800  13000  21000  29173
  48000  30000  87000  16000  79350  81000   3600  14272  49213  57000
   3240 114000  53772 140000 175000  36000 155500  23000  22155  78380
 150000  80362  55000   1136  43000   2650 115962  65000  56000 213000
 139000 160000 163000  32000  52000  11240  66000  26500  72000  44000
 130000 195000 155000   4000  41000  10832  14681  51000 200000  19600
  46730  21170 167223 141440 212814  88635 149674   8000  68000  38000
  75000  98000  81925  82080  97000  52047  62009  33100 220000  45000
 180000  22000  80577 127500  40903  22288  61690  64484  75976  85962
  57035  72104 164000 124439  77000   1250  17152  24005 149000  19000
 109000  61000  27633  12586  38083  55328  81632 155201  93283 217871
  90165 101504  86017  85036  91086 160254 125531  82000  84000 560000
  14365  61083  66363  11700   7104  45974  55340  61585  39415  29654
  64672  54634  66521  23974   1000  86000  52600  19890  11918  10510
  47162  49824  58500  56580  46507  11451 172000  66508  29900   3000
  85000   7900  17500 206500  88600 186000  11000 138000  27974  18000
   1400 124000  42000  28205  32670  30093  56228  59319  39503  35299
  51687  76259  44049  45087  41125  42215  54206  52547  59110  54565
  47564  45143  61624 132000  10980  20629  69782  63654  59385  70378
  55425  78413  40890  34823  55545  56541  43700  27483  56207   1440
  91195  63657  97248  89000  12000  12997  26430  24600  28481  41988
  30375   7658  34400  28942  53600  53652 106000 205000  79500 197000
   9161  19077 128000  21302  10500 107000  55300  74300  48781  87620
  40219  11473   8352   9745   9748  20694  31080  37605  55850  58850
  23839  45454  46957 190000   1500  47000 116000  26350  71042 167870
 133564  23038  43608  11212  49217  28838 135000  19571  29600  13500
  48600 127643 102354  62237  21394  32686   1001  53261  14000  39895
  73000  17000  18591  26766 300000  27620 223000 161327   6000  71000
 144000  37000  26000  27000  13250 101000   8500  90246  60400  70950
   1100  31491 107143  46412 107500  43826  55838 112880  30300  80659
  81324 127884  66755 123084 806599  95851 234000 170000  96000  19014
  23262  35925  40771  30500  55800  66569  81358  82695  68293 190621
  64700  88470 126000  74183      1 192000  83411  13270  88000   7000
  13770 102000 143000 115000 136906 133000  28689  80322  61658 185000
  30600 235000  67000  74500 118700 223660   2000  73756  16400  41395
  71014 181000  89550 149500  83000  44800 156000 146000  99000  37516
  25880 136000   2020  94000  88500  52536   1950 118400   6480  32077
  19107  18469  28217  72787  31063  79641  58692  54784  64156   9500
  81366 244000 312000 145000   7300  72539    101  52328  91505  20500
 154000  41723  68745  27289  24662  28245  27005  39227  31367  35008
 100005  45264  39093  45241   2769  43128  22255  59213   1010   1111
  48965   5166  76290  45766  78771  79357  76736  92645 101849 155836
  63230   1758   1452  35122  92621  92198 152000  78322  54309  34600
  38217  77073  16584  81257   3917  69069  59059  39039  33033  55168
  41041  67067  66066  82082  70070  63063   9528 135200  50300 151624
  74820 129000  66778  63400 157000  38500 103921  14825  43377 102307
 245244  68500   5007  49600  43100  10171  41123  20118  52517  99117
   3700  43500 137250   5400  11200  93000  62000   5800 267000 250000
  28635  32114  95149  68458 105546 104000 132343  26134  52895  42324
  60236  10300 142000  28643   7600  47253   4432  68523  80251  34500
  42743  93900  55766 113600 138925 121764 105429  23122  44500  13599
   5200  12700  95000  45839  74510  87293 156040  93415 101159  68519
  55130  65239  58182  91245 102989 108000 178000  75118   4637  42655
  69000 117000 105000 182000  24585  13900  17563 173000 151000 117780
  81595   9700 221000  28740  48500 148620 270000  41090 296823  89255
 168000   5550   1700  45217  44440  91365  90010  31800  59100  31200
  22700  50900   2417  65500 140300  10211 260000  32933  54551  57112
  41025  53122  64111  78892  74113  84775  20778  64441  43192  44416
  79991  62601  89600  60800  69111  20969  20194  34982  44588  57904
  59258  60826   1300  31707 115992 109052  90658  25552  40700  11174
  72500  76600  97700  37500  23800  44077 210000   9422 240000  17100
 224642 222435 159000 101100   1200 134444 238000 165000  63700  74800
  60516  76731  63840  76400  31489 295000 158000 400000  19495  62668
  85710  63356 129627   4400  14987  25061  42494  44875  89741 347089
 222252  55250  12500 162000  22038   2500  89126 134000  42500 131365
  48980  98900  13800  99700  49654  45457  39221  48220  11114  60208
  98600  85441  64541  16267  71500  12999  14700  92686  49359 108731
  29976  30646  23600  71318  78098  18054  38406  54350  32260  58231
  59858  73350  88473  96987  77350  61187  68350  81150 280000 105700
  37091  38900   9400  14100  37555  56600  67580  48238  38365  23670
  49834  57353  68308  63240  64916  37161 118000  50852  53500  51500
  79800   6590  49957  43235  50699 140730 256000 218000  66782 112198]
======================
Unique values of fuel
['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric']
======================
Unique values of seller_type
['Individual' 'Dealer' 'Trustmark Dealer']
======================
Unique values of transmission
['Manual' 'Automatic']
======================
Unique values of owner
['First Owner' 'Second Owner' 'Fourth & Above Owner' 'Third Owner'
 'Test Drive Car']
======================

In [164]:
#name column has tuple in that name is too long so we will keep only first three 
#First word of full name that is only brand name 
#as it will give more better categoricol name
# Now we will clean the dataset as per our need
##Cleaning

#first backup the copy as if while cleaning the date gets corrupted then
#no need to reload the full dataset again , so more comfortable with backup copy, if dataset
#is big

backup=used_car.copy()

In [165]:
#rename fuel column to fuel_type as it should be more understable.
used_car.rename(columns = {'fuel':'fuel_type'}, inplace = True)

In [166]:
def get_brand_name(car_name):
    car_name = car_name.split(' ')[0]
    return car_name.strip()

In [167]:
def clean_data(value):
    value = value.split(' ')[0]
    value = value.strip()
    if value == '':
        value = 0
    return float(value)

In [168]:
#for example
get_brand_name('Maruti Wagon R LXI Minor')

'Maruti'

In [169]:
used_car['name'] = used_car['name'].apply(get_brand_name)

In [170]:
used_car['name'].unique()

array(['Maruti', 'Hyundai', 'Datsun', 'Honda', 'Tata', 'Chevrolet',
       'Toyota', 'Jaguar', 'Mercedes-Benz', 'Audi', 'Skoda', 'Jeep',
       'BMW', 'Mahindra', 'Ford', 'Nissan', 'Renault', 'Fiat',
       'Volkswagen', 'Volvo', 'Mitsubishi', 'Land', 'Daewoo', 'MG',
       'Force', 'Isuzu', 'OpelCorsa', 'Ambassador', 'Kia'], dtype=object)

In [171]:
for col in used_car.columns:
    print('Unique values of ' + col)
    print(used_car[col].unique())
    print("======================")

Unique values of name
['Maruti' 'Hyundai' 'Datsun' 'Honda' 'Tata' 'Chevrolet' 'Toyota' 'Jaguar'
 'Mercedes-Benz' 'Audi' 'Skoda' 'Jeep' 'BMW' 'Mahindra' 'Ford' 'Nissan'
 'Renault' 'Fiat' 'Volkswagen' 'Volvo' 'Mitsubishi' 'Land' 'Daewoo' 'MG'
 'Force' 'Isuzu' 'OpelCorsa' 'Ambassador' 'Kia']
======================
Unique values of year
[2007 2012 2017 2014 2016 2015 2018 2019 2013 2011 2010 2009 2006 1996
 2005 2008 2004 1998 2003 2002 2020 2000 1999 2001 1995 1997 1992]
======================
Unique values of selling_price
[  60000  135000  600000  250000  450000  140000  550000  240000  850000
  365000  260000 1650000  585000 1195000  390000 1964999 1425000  975000
 1190000  930000  525000 1735000 1375000  900000 1300000 1400000  229999
 1550000 1250000  625000 1050000  560000  290000  275000  411000  150000
  500000  100000  725000  401000  750000  310000  665000  465000  160000
  675000  300000   70000  151000  280000  350000  570000  125000  130000
  925000  200000  248000   80000  650000  495000  371000 1025000 8150000
  325000 1470000 2800000  210000 1150000 4500000 2750000 1975000  175000
 2500000  628000  399000  315000  780000  434000  690000  555000  120000
  165000   95000  800000  840000  490000  400000 1000000  530000   40000
   75000  540000  700000  430000   65000  195000  170000  225000   99000
  620000 2550000  320000  810000  282000   72000  640000  380000 1500000
  434999  190000 2900000  425000  265000  890000  685000  940000  590000
  385000 2000000  235000   52000   89999  180000  285000 1075000   90000
  220000  110000  880000  115999  360000  680000  860000  270000  395000
  624000  345000  106000 1800000  575000  370000   50000   55000  755000
  720000 1100000  159000  335000  185000  470000  145000  595000 1600000
  105000  409999  215000  475000  330000 1044999 1350000  420000  760000
   43000 1850000 1125000  133000  352000  520000  509999  556000  484999
  565000  295000 2050000 1475000 4400000  670000  770000  775000 1725000
 2150000 3800000 1580000 4950000  535000  239000 2600000  114999  200999
  710000  969999  155000  138000  311000   58000  183000  825000  299000
  639000  415000 1199000  699000  269000  249000 1549000  254999  211000
  599000 4000000 1200000   98000  790000 1700000   68000  875000 1330000
  919999  611000  711000  851000  610000  744000  480000  950000   85000
  615000  227000  222000  735000  271000 1490000  455000  421000 2700000
 4700000 1900000 1770000  660000  716000  147000 1140000 3050000  375000
 1950000  340000 3100000  245000  715000 1750000 3500000  835000 2490000
 1015000   91200 2400000  635000  302000  204999  341000  819999  351000
  630000 1085000  580000   78000 3200000  695000  355000  619000   81000
  486000  802000 2300000  287000  250999   45000 1485000 1825000 3256000
  451000  149000  163000  419000  990000  346000  509000   69000 1380000
  256000   97000  199000 2595000  730000  368000  545000  641000  784000
  324000 2100000  305000  221000  828999 1119000  746000 1030000 1334000
  811999 1331000  852000  830000  213000   35000  869999  178000  515000
  312000  111000  774000  148000   57000  284000  349000  458000  381000
  751000  782000  321000   92800  291000   73000  655000  263000  217000
  539000  142000  910000  740000  164000  999000   56000 3899000  440000
  238000 1295000  541000  894999  844999  288000 1225000 1010000   30000
  396000  281000   93000  459999   88000   22000   79000  198000  182000
  861999  836000  696000  596000  612000   20000   61000  511000 1230000
  426000   62000 1450000   71000 2200000 1249000 1240000 1068000 1189000
  363000  821000  815000  738000  765000  516000  134000  347000 2650000
 2675000  359000  980000  707000  471000  377000  763000  701000  277000
  936999   82000  799000 1451000 1575000   78692  479000   48000  121000
  785000  173000 4800000  587000  123000 1290000  193000  721000 1040000
 2349000 1165000   42000 1680000  231999  841000 1280000 1090000  449000
  724000  126000  795000 2575000 1035000 1260000 8900000 1860000 4200000
 5500000  430999 1151000  927999   51111  212000  428000  219000  749000
  233000  614000   37500  865000]
======================
Unique values of km_driven
[ 70000  50000 100000  46000 141000 125000  25000  60000  78000  35000
  24000   5000  33000  28000  59000   4500 175900  14500  15000  33800
 130400  80000  10000 119000  75800  40000  74000  64000 120000  79000
  18500  10200  29000  90000  73300  92000  66764 350000 230000  31000
  39000 166000 110000  54000  63000  76000  11958  20000   9000   6500
  58000  62200  34000  53000  49000  63500   9800  13000  21000  29173
  48000  30000  87000  16000  79350  81000   3600  14272  49213  57000
   3240 114000  53772 140000 175000  36000 155500  23000  22155  78380
 150000  80362  55000   1136  43000   2650 115962  65000  56000 213000
 139000 160000 163000  32000  52000  11240  66000  26500  72000  44000
 130000 195000 155000   4000  41000  10832  14681  51000 200000  19600
  46730  21170 167223 141440 212814  88635 149674   8000  68000  38000
  75000  98000  81925  82080  97000  52047  62009  33100 220000  45000
 180000  22000  80577 127500  40903  22288  61690  64484  75976  85962
  57035  72104 164000 124439  77000   1250  17152  24005 149000  19000
 109000  61000  27633  12586  38083  55328  81632 155201  93283 217871
  90165 101504  86017  85036  91086 160254 125531  82000  84000 560000
  14365  61083  66363  11700   7104  45974  55340  61585  39415  29654
  64672  54634  66521  23974   1000  86000  52600  19890  11918  10510
  47162  49824  58500  56580  46507  11451 172000  66508  29900   3000
  85000   7900  17500 206500  88600 186000  11000 138000  27974  18000
   1400 124000  42000  28205  32670  30093  56228  59319  39503  35299
  51687  76259  44049  45087  41125  42215  54206  52547  59110  54565
  47564  45143  61624 132000  10980  20629  69782  63654  59385  70378
  55425  78413  40890  34823  55545  56541  43700  27483  56207   1440
  91195  63657  97248  89000  12000  12997  26430  24600  28481  41988
  30375   7658  34400  28942  53600  53652 106000 205000  79500 197000
   9161  19077 128000  21302  10500 107000  55300  74300  48781  87620
  40219  11473   8352   9745   9748  20694  31080  37605  55850  58850
  23839  45454  46957 190000   1500  47000 116000  26350  71042 167870
 133564  23038  43608  11212  49217  28838 135000  19571  29600  13500
  48600 127643 102354  62237  21394  32686   1001  53261  14000  39895
  73000  17000  18591  26766 300000  27620 223000 161327   6000  71000
 144000  37000  26000  27000  13250 101000   8500  90246  60400  70950
   1100  31491 107143  46412 107500  43826  55838 112880  30300  80659
  81324 127884  66755 123084 806599  95851 234000 170000  96000  19014
  23262  35925  40771  30500  55800  66569  81358  82695  68293 190621
  64700  88470 126000  74183      1 192000  83411  13270  88000   7000
  13770 102000 143000 115000 136906 133000  28689  80322  61658 185000
  30600 235000  67000  74500 118700 223660   2000  73756  16400  41395
  71014 181000  89550 149500  83000  44800 156000 146000  99000  37516
  25880 136000   2020  94000  88500  52536   1950 118400   6480  32077
  19107  18469  28217  72787  31063  79641  58692  54784  64156   9500
  81366 244000 312000 145000   7300  72539    101  52328  91505  20500
 154000  41723  68745  27289  24662  28245  27005  39227  31367  35008
 100005  45264  39093  45241   2769  43128  22255  59213   1010   1111
  48965   5166  76290  45766  78771  79357  76736  92645 101849 155836
  63230   1758   1452  35122  92621  92198 152000  78322  54309  34600
  38217  77073  16584  81257   3917  69069  59059  39039  33033  55168
  41041  67067  66066  82082  70070  63063   9528 135200  50300 151624
  74820 129000  66778  63400 157000  38500 103921  14825  43377 102307
 245244  68500   5007  49600  43100  10171  41123  20118  52517  99117
   3700  43500 137250   5400  11200  93000  62000   5800 267000 250000
  28635  32114  95149  68458 105546 104000 132343  26134  52895  42324
  60236  10300 142000  28643   7600  47253   4432  68523  80251  34500
  42743  93900  55766 113600 138925 121764 105429  23122  44500  13599
   5200  12700  95000  45839  74510  87293 156040  93415 101159  68519
  55130  65239  58182  91245 102989 108000 178000  75118   4637  42655
  69000 117000 105000 182000  24585  13900  17563 173000 151000 117780
  81595   9700 221000  28740  48500 148620 270000  41090 296823  89255
 168000   5550   1700  45217  44440  91365  90010  31800  59100  31200
  22700  50900   2417  65500 140300  10211 260000  32933  54551  57112
  41025  53122  64111  78892  74113  84775  20778  64441  43192  44416
  79991  62601  89600  60800  69111  20969  20194  34982  44588  57904
  59258  60826   1300  31707 115992 109052  90658  25552  40700  11174
  72500  76600  97700  37500  23800  44077 210000   9422 240000  17100
 224642 222435 159000 101100   1200 134444 238000 165000  63700  74800
  60516  76731  63840  76400  31489 295000 158000 400000  19495  62668
  85710  63356 129627   4400  14987  25061  42494  44875  89741 347089
 222252  55250  12500 162000  22038   2500  89126 134000  42500 131365
  48980  98900  13800  99700  49654  45457  39221  48220  11114  60208
  98600  85441  64541  16267  71500  12999  14700  92686  49359 108731
  29976  30646  23600  71318  78098  18054  38406  54350  32260  58231
  59858  73350  88473  96987  77350  61187  68350  81150 280000 105700
  37091  38900   9400  14100  37555  56600  67580  48238  38365  23670
  49834  57353  68308  63240  64916  37161 118000  50852  53500  51500
  79800   6590  49957  43235  50699 140730 256000 218000  66782 112198]
======================
Unique values of fuel_type
['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric']
======================
Unique values of seller_type
['Individual' 'Dealer' 'Trustmark Dealer']
======================
Unique values of transmission
['Manual' 'Automatic']
======================
Unique values of owner
['First Owner' 'Second Owner' 'Fourth & Above Owner' 'Third Owner'
 'Test Drive Car']
======================

In [172]:
used_car['name'].replace(['Maruti','Hyundai','Datsun','Honda','Tata','Chevrolet',
                          'Toyota','Jaguar','Mercedes-Benz','Audi','Skoda','Jeep',
                          'BMW','Mahindra','Ford','Nissan','Renault','Fiat',
                          'Volkswagen','Volvo','Mitsubishi','Land','Daewoo','MG',
                          'Force','Isuzu','OpelCorsa','Ambassador','Kia'],
                          [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]
                          ,inplace=True)

In [173]:
used_car['transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [174]:
used_car['transmission'].replace(['Manual', 'Automatic'],[1,2], inplace=True)

In [175]:
used_car['seller_type'].unique()

array(['Individual', 'Dealer', 'Trustmark Dealer'], dtype=object)

In [176]:
used_car['seller_type'].replace(['Individual', 'Dealer', 'Trustmark Dealer'],[1,2,3], inplace=True)

In [177]:
used_car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3577 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           3577 non-null   int64
 1   year           3577 non-null   int64
 2   selling_price  3577 non-null   int64
 3   km_driven      3577 non-null   int64
 4   fuel_type      3577 non-null   object
 5   seller_type    3577 non-null   int64
 6   transmission   3577 non-null   int64
 7   owner          3577 non-null   object
dtypes: int64(6), object(2)
memory usage: 251.5+ KB

In [178]:
used_car['fuel_type'].unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [179]:
used_car['fuel_type'].replace(['Diesel', 'Petrol', 'LPG', 'CNG','Electric'],[1,2,3,4,5], inplace=True)

In [180]:
used_car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3577 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           3577 non-null   int64
 1   year           3577 non-null   int64
 2   selling_price  3577 non-null   int64
 3   km_driven      3577 non-null   int64
 4   fuel_type      3577 non-null   int64
 5   seller_type    3577 non-null   int64
 6   transmission   3577 non-null   int64
 7   owner          3577 non-null   object
dtypes: int64(7), object(1)
memory usage: 251.5+ KB

In [181]:
used_car.reset_index(inplace=True)

In [182]:
used_car

,index,name,year,selling_price,km_driven,fuel_type,seller_type,transmission,owner
0,0,1,2007,60000,70000,2,1,1,First Owner
1,1,1,2007,135000,50000,2,1,1,First Owner
2,2,2,2012,600000,100000,1,1,1,First Owner
3,3,3,2017,250000,46000,2,1,1,First Owner
4,4,4,2014,450000,141000,1,1,1,Second Owner
...,...,...,...,...,...,...,...,...,...
3572,4335,2,2014,409999,80000,1,1,1,Second Owner
3573,4336,2,2014,409999,80000,1,1,1,Second Owner
3574,4337,1,2009,110000,83000,2,1,1,Second Owner
3575,4338,2,2016,865000,90000,1,1,1,First Owner
3576,4339,17,2016,225000,40000,2,1,1,First Owner

In [183]:
used_car['owner'].unique()

array(['First Owner', 'Second Owner', 'Fourth & Above Owner',
       'Third Owner', 'Test Drive Car'], dtype=object)

In [184]:
used_car['owner'].replace(['First Owner', 'Second Owner', 'Third Owner',
       'Fourth & Above Owner', 'Test Drive Car'],
                           [1,2,3,4,5], inplace=True)

In [185]:
used_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3577 entries, 0 to 3576
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          3577 non-null   int64
 1   name           3577 non-null   int64
 2   year           3577 non-null   int64
 3   selling_price  3577 non-null   int64
 4   km_driven      3577 non-null   int64
 5   fuel_type      3577 non-null   int64
 6   seller_type    3577 non-null   int64
 7   transmission   3577 non-null   int64
 8   owner          3577 non-null   int64
dtypes: int64(9)
memory usage: 251.6 KB

In [186]:
used_car.drop(columns=['index'], inplace=True)

In [187]:
for col in used_car.columns:
    print('------------')
    print(col)
    print(used_car[col].unique())

------------
name
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29]
------------
year
[2007 2012 2017 2014 2016 2015 2018 2019 2013 2011 2010 2009 2006 1996
 2005 2008 2004 1998 2003 2002 2020 2000 1999 2001 1995 1997 1992]
------------
selling_price
[  60000  135000  600000  250000  450000  140000  550000  240000  850000
  365000  260000 1650000  585000 1195000  390000 1964999 1425000  975000
 1190000  930000  525000 1735000 1375000  900000 1300000 1400000  229999
 1550000 1250000  625000 1050000  560000  290000  275000  411000  150000
  500000  100000  725000  401000  750000  310000  665000  465000  160000
  675000  300000   70000  151000  280000  350000  570000  125000  130000
  925000  200000  248000   80000  650000  495000  371000 1025000 8150000
  325000 1470000 2800000  210000 1150000 4500000 2750000 1975000  175000
 2500000  628000  399000  315000  780000  434000  690000  555000  120000
  165000   95000  800000  840000  490000  400000 1000000  530000   40000
   75000  540000  700000  430000   65000  195000  170000  225000   99000
  620000 2550000  320000  810000  282000   72000  640000  380000 1500000
  434999  190000 2900000  425000  265000  890000  685000  940000  590000
  385000 2000000  235000   52000   89999  180000  285000 1075000   90000
  220000  110000  880000  115999  360000  680000  860000  270000  395000
  624000  345000  106000 1800000  575000  370000   50000   55000  755000
  720000 1100000  159000  335000  185000  470000  145000  595000 1600000
  105000  409999  215000  475000  330000 1044999 1350000  420000  760000
   43000 1850000 1125000  133000  352000  520000  509999  556000  484999
  565000  295000 2050000 1475000 4400000  670000  770000  775000 1725000
 2150000 3800000 1580000 4950000  535000  239000 2600000  114999  200999
  710000  969999  155000  138000  311000   58000  183000  825000  299000
  639000  415000 1199000  699000  269000  249000 1549000  254999  211000
  599000 4000000 1200000   98000  790000 1700000   68000  875000 1330000
  919999  611000  711000  851000  610000  744000  480000  950000   85000
  615000  227000  222000  735000  271000 1490000  455000  421000 2700000
 4700000 1900000 1770000  660000  716000  147000 1140000 3050000  375000
 1950000  340000 3100000  245000  715000 1750000 3500000  835000 2490000
 1015000   91200 2400000  635000  302000  204999  341000  819999  351000
  630000 1085000  580000   78000 3200000  695000  355000  619000   81000
  486000  802000 2300000  287000  250999   45000 1485000 1825000 3256000
  451000  149000  163000  419000  990000  346000  509000   69000 1380000
  256000   97000  199000 2595000  730000  368000  545000  641000  784000
  324000 2100000  305000  221000  828999 1119000  746000 1030000 1334000
  811999 1331000  852000  830000  213000   35000  869999  178000  515000
  312000  111000  774000  148000   57000  284000  349000  458000  381000
  751000  782000  321000   92800  291000   73000  655000  263000  217000
  539000  142000  910000  740000  164000  999000   56000 3899000  440000
  238000 1295000  541000  894999  844999  288000 1225000 1010000   30000
  396000  281000   93000  459999   88000   22000   79000  198000  182000
  861999  836000  696000  596000  612000   20000   61000  511000 1230000
  426000   62000 1450000   71000 2200000 1249000 1240000 1068000 1189000
  363000  821000  815000  738000  765000  516000  134000  347000 2650000
 2675000  359000  980000  707000  471000  377000  763000  701000  277000
  936999   82000  799000 1451000 1575000   78692  479000   48000  121000
  785000  173000 4800000  587000  123000 1290000  193000  721000 1040000
 2349000 1165000   42000 1680000  231999  841000 1280000 1090000  449000
  724000  126000  795000 2575000 1035000 1260000 8900000 1860000 4200000
 5500000  430999 1151000  927999   51111  212000  428000  219000  749000
  233000  614000   37500  865000]
------------
km_driven
[ 70000  50000 100000  46000 141000 125000  25000  60000  78000  35000
  24000   5000  33000  28000  59000   4500 175900  14500  15000  33800
 130400  80000  10000 119000  75800  40000  74000  64000 120000  79000
  18500  10200  29000  90000  73300  92000  66764 350000 230000  31000
  39000 166000 110000  54000  63000  76000  11958  20000   9000   6500
  58000  62200  34000  53000  49000  63500   9800  13000  21000  29173
  48000  30000  87000  16000  79350  81000   3600  14272  49213  57000
   3240 114000  53772 140000 175000  36000 155500  23000  22155  78380
 150000  80362  55000   1136  43000   2650 115962  65000  56000 213000
 139000 160000 163000  32000  52000  11240  66000  26500  72000  44000
 130000 195000 155000   4000  41000  10832  14681  51000 200000  19600
  46730  21170 167223 141440 212814  88635 149674   8000  68000  38000
  75000  98000  81925  82080  97000  52047  62009  33100 220000  45000
 180000  22000  80577 127500  40903  22288  61690  64484  75976  85962
  57035  72104 164000 124439  77000   1250  17152  24005 149000  19000
 109000  61000  27633  12586  38083  55328  81632 155201  93283 217871
  90165 101504  86017  85036  91086 160254 125531  82000  84000 560000
  14365  61083  66363  11700   7104  45974  55340  61585  39415  29654
  64672  54634  66521  23974   1000  86000  52600  19890  11918  10510
  47162  49824  58500  56580  46507  11451 172000  66508  29900   3000
  85000   7900  17500 206500  88600 186000  11000 138000  27974  18000
   1400 124000  42000  28205  32670  30093  56228  59319  39503  35299
  51687  76259  44049  45087  41125  42215  54206  52547  59110  54565
  47564  45143  61624 132000  10980  20629  69782  63654  59385  70378
  55425  78413  40890  34823  55545  56541  43700  27483  56207   1440
  91195  63657  97248  89000  12000  12997  26430  24600  28481  41988
  30375   7658  34400  28942  53600  53652 106000 205000  79500 197000
   9161  19077 128000  21302  10500 107000  55300  74300  48781  87620
  40219  11473   8352   9745   9748  20694  31080  37605  55850  58850
  23839  45454  46957 190000   1500  47000 116000  26350  71042 167870
 133564  23038  43608  11212  49217  28838 135000  19571  29600  13500
  48600 127643 102354  62237  21394  32686   1001  53261  14000  39895
  73000  17000  18591  26766 300000  27620 223000 161327   6000  71000
 144000  37000  26000  27000  13250 101000   8500  90246  60400  70950
   1100  31491 107143  46412 107500  43826  55838 112880  30300  80659
  81324 127884  66755 123084 806599  95851 234000 170000  96000  19014
  23262  35925  40771  30500  55800  66569  81358  82695  68293 190621
  64700  88470 126000  74183      1 192000  83411  13270  88000   7000
  13770 102000 143000 115000 136906 133000  28689  80322  61658 185000
  30600 235000  67000  74500 118700 223660   2000  73756  16400  41395
  71014 181000  89550 149500  83000  44800 156000 146000  99000  37516
  25880 136000   2020  94000  88500  52536   1950 118400   6480  32077
  19107  18469  28217  72787  31063  79641  58692  54784  64156   9500
  81366 244000 312000 145000   7300  72539    101  52328  91505  20500
 154000  41723  68745  27289  24662  28245  27005  39227  31367  35008
 100005  45264  39093  45241   2769  43128  22255  59213   1010   1111
  48965   5166  76290  45766  78771  79357  76736  92645 101849 155836
  63230   1758   1452  35122  92621  92198 152000  78322  54309  34600
  38217  77073  16584  81257   3917  69069  59059  39039  33033  55168
  41041  67067  66066  82082  70070  63063   9528 135200  50300 151624
  74820 129000  66778  63400 157000  38500 103921  14825  43377 102307
 245244  68500   5007  49600  43100  10171  41123  20118  52517  99117
   3700  43500 137250   5400  11200  93000  62000   5800 267000 250000
  28635  32114  95149  68458 105546 104000 132343  26134  52895  42324
  60236  10300 142000  28643   7600  47253   4432  68523  80251  34500
  42743  93900  55766 113600 138925 121764 105429  23122  44500  13599
   5200  12700  95000  45839  74510  87293 156040  93415 101159  68519
  55130  65239  58182  91245 102989 108000 178000  75118   4637  42655
  69000 117000 105000 182000  24585  13900  17563 173000 151000 117780
  81595   9700 221000  28740  48500 148620 270000  41090 296823  89255
 168000   5550   1700  45217  44440  91365  90010  31800  59100  31200
  22700  50900   2417  65500 140300  10211 260000  32933  54551  57112
  41025  53122  64111  78892  74113  84775  20778  64441  43192  44416
  79991  62601  89600  60800  69111  20969  20194  34982  44588  57904
  59258  60826   1300  31707 115992 109052  90658  25552  40700  11174
  72500  76600  97700  37500  23800  44077 210000   9422 240000  17100
 224642 222435 159000 101100   1200 134444 238000 165000  63700  74800
  60516  76731  63840  76400  31489 295000 158000 400000  19495  62668
  85710  63356 129627   4400  14987  25061  42494  44875  89741 347089
 222252  55250  12500 162000  22038   2500  89126 134000  42500 131365
  48980  98900  13800  99700  49654  45457  39221  48220  11114  60208
  98600  85441  64541  16267  71500  12999  14700  92686  49359 108731
  29976  30646  23600  71318  78098  18054  38406  54350  32260  58231
  59858  73350  88473  96987  77350  61187  68350  81150 280000 105700
  37091  38900   9400  14100  37555  56600  67580  48238  38365  23670
  49834  57353  68308  63240  64916  37161 118000  50852  53500  51500
  79800   6590  49957  43235  50699 140730 256000 218000  66782 112198]
------------
fuel_type
[2 1 4 3 5]
------------
seller_type
[1 2 3]
------------
transmission
[1 2]
------------
owner
[1 2 4 3 5]

In [188]:
used_car.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel_type        0
seller_type      0
transmission     0
owner            0
dtype: int64

In [189]:
##Build the Model

#extract the feature and not want drop , will come all in X
#and target column price ,which is dropped will come in y 

X=used_car.drop(columns='selling_price')
y=used_car['selling_price']  #target column

In [190]:
X #all features except price

      name  year  km_driven  fuel_type  seller_type  transmission  owner
0        1  2007      70000          2            1             1      1
1        1  2007      50000          2            1             1      1
2        2  2012     100000          1            1             1      1
3        3  2017      46000          2            1             1      1
4        4  2014     141000          1            1             1      2
...    ...   ...        ...        ...          ...           ...    ...
3572     2  2014      80000          1            1             1      2
3573     2  2014      80000          1            1             1      2
3574     1  2009      83000          2            1             1      2
3575     2  2016      90000          1            1             1      1
3576    17  2016      40000          2            1             1      1

[3577 rows x 7 columns]

In [191]:
y # target column

0        60000
1       135000
2       600000
3       250000
4       450000
         ...
3572    409999
3573    409999
3574    110000
3575    865000
3576    225000
Name: selling_price, Length: 3577, dtype: int64

In [192]:
#we will import necessary files all
#train_test_split from sklearn

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.2)

In [193]:
#using linerRegression model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score #from r2_score we measure regression problems

In [194]:
model=LinearRegression()

In [195]:
#train model
model.fit(X_train, y_train)

LinearRegression()

In [196]:
pred = model.predict(X_test)

In [197]:
pred

array([ 5.50304917e+05,  5.91396964e+05,  5.56268465e+05,  4.99177104e+05,
        2.05197546e+05,  5.61714634e+05,  3.31283514e+05,  2.21214837e+04,
        3.77701461e+05,  4.13029009e+05,  9.55123751e+04,  4.18297331e+05,
        6.20225370e+05,  2.33318876e+05,  4.21956913e+05,  5.75472984e+05,
        4.29994303e+05,  5.63423521e+05,  5.38145891e+05,  3.01839125e+05,
        6.07536211e+05,  5.86570844e+05,  6.75370406e+05,  5.50188952e+05,
        2.63669565e+05,  4.32424828e+05,  5.19122772e+05,  8.86746322e+05,
        2.69479077e+05,  6.21812068e+05,  6.30060011e+05,  6.19242712e+04,
        4.27075165e+05,  4.15398350e+05,  5.17663177e+05,  4.20770532e+05,
        4.04190621e+05,  1.33172898e+06,  6.54432667e+05,  5.13773057e+05,
        7.17055067e+05,  6.69102606e+05,  5.21064632e+05, -1.46980788e+04,
        5.68986921e+05, -1.15429324e+05,  6.19186855e+05,  1.39226246e+05,
        4.54003638e+05,  9.10103078e+04,  2.50675111e+05,  2.97393094e+05,
        5.09601330e+05,  3.96450722e+05,  2.00289874e+05,  4.61412630e+05,
        1.61120175e+05,  9.73098112e+04,  4.53093892e+05,  5.74664880e+04,
        3.40452767e+05,  1.75009052e+05,  6.25629867e+05,  1.20739736e+06,
        7.03667239e+04,  1.49204040e+05,  1.84731152e+05,  1.89605005e+05,
        5.03925850e+05, -2.25565791e+05,  5.51779611e+05,  4.29602091e+05,
        4.61992695e+05,  4.12453246e+05,  2.32100413e+05,  4.90321240e+05,
        2.21854122e+05,  1.65467820e+05,  7.50394654e+05,  1.74753359e+05,
        4.64897757e+05,  5.01072520e+05,  7.63828325e+05,  3.42566561e+05,
        1.45431656e+06, -2.16916077e+05,  2.33244889e+05,  6.15674974e+05,
        5.22283095e+05,  1.96902981e+05, -2.22751469e+05,  2.59303582e+05,
        3.02342556e+04,  2.89824862e+05,  1.42664990e+06,  1.30056831e+06,
        4.03745073e+05,  1.33148389e+06,  1.40944069e+06,  2.90273719e+05,
        4.76357638e+05,  4.66212496e+05,  8.01385510e+04,  9.58420559e+04,
        1.42057872e+06,  2.07843544e+05,  4.51260175e+04,  3.91983820e+05,
        3.66127144e+05,  1.14947975e+06, -4.23926273e+04, -3.60969237e+05,
        6.15404540e+05,  5.63301154e+05,  2.68516308e+05,  5.16203582e+05,
        2.44372245e+05,  2.98775597e+05,  5.92797164e+05,  8.09904094e+04,
        3.52419973e+05,  4.43164479e+05,  1.99822172e+05,  7.46552025e+04,
        4.21672552e+05,  1.18632818e+06, -2.38236204e+05,  1.48331378e+06,
        1.40656206e+06, -1.44627631e+05,  1.30214733e+06,  6.56873809e+04,
        7.21210550e+05,  1.44484562e+05,  8.19311795e+05,  4.91879128e+05,
        4.49398460e+05,  4.97841328e+05,  2.25696744e+04,  6.74818620e+05,
        2.93454731e+04,  1.44864532e+06,  5.92493060e+05,  3.59717950e+05,
        1.38773284e+05,  3.90779486e+05, -2.17379032e+05,  4.59112221e+05,
        5.10914282e+04,  3.60755699e+05,  2.20474967e+04,  4.76910169e+05,
        2.49753577e+05, -2.10081055e+05,  5.93417546e+05,  2.11424947e+05,
        8.84700925e+04,  6.32686712e+05,  5.05719370e+05,  4.17637575e+05,
        3.48572087e+05,  6.27891581e+05,  4.02088446e+05,  2.12313730e+05,
        5.14130154e+05,  1.29168128e+06,  6.43812172e+05,  4.26877411e+05,
        5.12564384e+05,  3.20416938e+05,  6.23076284e+05,  1.12213510e+06,
        2.28178347e+05,  4.77684713e+05,  4.94578854e+05,  5.49878887e+05,
        1.81364131e+04,  5.45988767e+05,  5.08664474e+05,  5.87776833e+05,
        3.82184450e+05,  5.38091109e+05,  1.30834331e+06,  5.08695101e+05,
        5.51825482e+05, -4.52097656e+04,  5.31759113e+05,  3.27050464e+05,
        3.41163199e+05,  7.41678702e+05,  4.26345315e+05,  2.57636928e+05,
        1.52407878e+05,  5.91725875e+05,  5.61884697e+05,  6.59319323e+05,
        2.94671710e+05,  3.83101034e+04,  4.49411195e+04,  9.82661790e+04,
        5.24205443e+05,  4.59816106e+05,  2.33244889e+05,  1.20998149e+06,
        3.60364508e+05,  1.14083754e+06,  2.72895093e+05,  2.70438655e+05,
        3.56903628e+05,  5.97294013e+05,  4.86664328e+05,  6.91905204e+05,
        1.47297884e+05, -4.17827384e+04,  4.57782847e+05,  4.88168895e+05,
        1.26476565e+06,  6.14078272e+05,  2.43114963e+05,  6.20706182e+05,
        2.75111544e+05,  1.12289561e+05,  2.87606586e+05,  3.84877070e+05,
        1.39892417e+06,  5.89159138e+05,  1.56576891e+06,  1.10353375e+03,
        6.07762576e+05,  4.22696327e+05,  6.31471836e+05,  9.11335893e+04,
        5.50120019e+05,  4.38751620e+05,  1.22023454e+06,  4.59816106e+05,
        5.34442121e+05,  3.21450503e+05,  7.09239811e+05,  6.93427060e+05,
        2.05819538e+05,  7.14931883e+05,  4.35469841e+05,  6.72028377e+05,
        9.34041596e+05,  2.20891353e+05,  1.42002053e+06,  4.32424828e+05,
        4.46829481e+05,  3.02342556e+04,  6.19254440e+05,  4.04641338e+05,
        4.55524417e+05,  4.67114082e+05,  7.20844252e+05,  6.43593233e+05,
        1.29715416e+06,  6.31522273e+05,  3.32215761e+05,  2.80681735e+05,
        4.89303372e+05,  4.95528116e+05,  7.24920722e+05,  2.68516308e+05,
        8.60643417e+02,  6.65398836e+05,  5.05846380e+05,  3.42566561e+05,
        5.42161178e+05,  5.21281847e+04,  2.36298910e+05,  1.42242146e+05,
        4.01506282e+05,  1.39000121e+06,  5.97292926e+05,  3.19454168e+05,
        2.92006904e+04,  4.04604379e+05,  6.76400583e+05,  2.70940431e+05,
        3.92930503e+05,  4.50595782e+05,  5.70858016e+05,  3.13102967e+05,
        3.75322320e+04,  6.48304774e+05,  8.77535610e+05,  5.87856425e+05,
        7.12816478e+05,  6.17780283e+05,  3.83278474e+05,  1.00897794e+05,
        1.29001853e+06,  5.73158424e+05,  2.50009271e+05,  2.13593376e+05,
        6.01630218e+05,  1.21341569e+06,  5.46147752e+05,  5.39241987e+05,
        1.37448681e+05,  1.35235706e+06,  5.16874132e+05,  3.73412317e+05,
       -6.10765219e+03,  3.54725587e+05,  3.41285566e+05,  1.36519449e+06,
        7.26748552e+05,  5.42867075e+05,  2.40224641e+05,  4.34781366e+05,
        5.01607629e+05,  4.95087524e+05,  5.65693303e+05,  8.45160660e+05,
        5.50188952e+05,  1.03970788e+06,  1.54145478e+05,  2.14873023e+05,
        1.66614980e+05, -4.07753123e+05,  5.04043208e+05,  1.42098786e+06,
        2.84436863e+05,  1.57862769e+04,  2.50215237e+05,  7.61878006e+05,
        5.87096901e+05,  4.25736271e+05,  4.51629347e+05,  3.50298695e+05,
        3.09799654e+05,  4.94504341e+05,  6.75591402e+05,  1.49022333e+05,
        1.45169775e+06,  1.89605005e+05,  6.61682263e+05,  5.40129422e+05,
        1.12038159e+06,  1.19032416e+03,  5.36991641e+05, -1.23542096e+05,
        3.87934282e+05,  1.19771856e+04,  4.95528116e+05,  3.66701552e+05,
        5.18849326e+05,  4.88230140e+05,  1.21301246e+06,  7.41934396e+05,
        4.68834321e+05,  4.11849452e+05,  5.81786124e+05,  2.48035097e+05,
        5.19520313e+05,  9.36608230e+04,  6.37672928e+05,  5.31197690e+05,
        4.84256525e+05,  3.42881425e+05,  5.91348584e+05,  5.92991690e+05,
        3.56964812e+05,  5.38820907e+05,  1.14521620e+06, -2.07036049e+04,
        1.15554752e+05,  5.34609676e+05,  5.12670559e+05,  4.07659782e+05,
        4.71271247e+05,  4.25898321e+05, -1.46654488e+05,  3.21696585e+05,
        3.78982455e+05,  3.03464447e+05,  5.93363561e+05,  6.73963656e+05,
        2.34911543e+05,  5.60835537e+05,  3.08389891e+05,  3.20306027e+05,
        2.70438655e+05,  4.28590941e+05,  9.44386945e+04,  6.84587342e+05,
        4.36857320e+04,  2.12058036e+05,  6.10744402e+05,  4.61351446e+05,
        2.34207659e+05, -2.40959486e+05,  1.97791764e+05,  5.92748634e+05,
        1.13824901e+05,  5.70861404e+05,  3.95561939e+05,  6.94952575e+05,
        5.26394836e+05,  1.25507845e+06,  2.47858334e+05,  1.36157738e+06,
        7.08751145e+05,  6.91905204e+05,  2.12704594e+05, -4.88102881e+03,
        1.10294955e+06,  8.06109902e+04,  1.50999717e+05,  1.01847582e+05,
        3.20598645e+05,  4.17637575e+05,  4.91879128e+05,  5.72917292e+05,
        6.19622675e+05,  6.76278216e+05,  6.46369853e+05,  5.38149203e+05,
        4.10413586e+05,  6.04457576e+05,  6.27742293e+05,  3.86280432e+05,
        3.29250255e+05,  4.48302083e+04,  6.75108132e+05,  7.28036505e+04,
        7.36047635e+05,  4.47860232e+05,  1.83269798e+05,  2.45545488e+05,
       -1.08131347e+05,  4.89008011e+05,  5.94261611e+04,  5.02433881e+05,
        7.02305333e+05,  3.42492574e+05,  2.81184708e+05,  3.14152527e+05,
        1.30292794e+06, -2.10142061e+05,  1.20669181e+06,  5.52619477e+05,
        3.14213710e+05,  6.99316621e+05,  6.59319323e+05,  1.26000708e+06,
        4.92394904e+05,  4.37141199e+05,  3.90925975e+05,  6.66403528e+05,
        7.06614597e+05,  3.55944050e+05,  5.15473784e+05,  2.97634226e+05,
        5.41788477e+05,  6.46184902e+05,  4.34700190e+05,  4.59816106e+05,
       -3.33868220e+04,  2.14051826e+05,  5.16197180e+05,  8.87918334e+05,
        4.34770014e+05,  1.59268623e+05,  6.73847691e+05,  4.28280759e+05,
        2.80234742e+05,  1.43960435e+06,  1.90175563e+05,  3.12350880e+05,
        1.45577422e+06, -1.51845218e+05,  4.41912197e+05,  6.98165743e+05,
        2.41505635e+05,  6.06727450e+05,  2.81123524e+05,  5.24646035e+05,
        5.09130699e+05,  4.09981492e+05,  3.35012890e+05,  1.44924802e+06,
        5.14138008e+05,  1.61252155e+05,  3.80416137e+05,  8.36154795e+05,
        2.11092075e+05,  2.20409089e+05, -1.72702391e+05,  4.51814245e+05,
        1.75897835e+05,  5.46355066e+05,  3.46215549e+05,  3.89923018e+05,
        3.19169676e+05,  1.15192007e+06,  2.83867716e+05,  1.35024127e+06,
        4.10413586e+05,  4.26724246e+05,  5.54334511e+05,  1.07708515e+04,
        5.97366913e+05,  1.17956449e+06,  3.68889108e+05,  3.63168039e+05,
        4.33249673e+05,  1.76288699e+05,  4.28775840e+05,  3.37699109e+05,
        6.64796142e+05,  2.50345354e+05,  7.29775370e+05,  6.23308072e+03,
        3.25424357e+05,  6.91885318e+05,  4.23435542e+04,  1.49905420e+06,
        4.20206555e+05,  5.78241596e+05,  1.21579415e+06,  6.77496679e+05,
        1.10834635e+06,  6.57613679e+04,  2.01655971e+05,  1.30244131e+06,
        5.77862466e+05,  1.14161426e+06,  3.15620282e+05,  5.46952524e+05,
        4.99053390e+05, -6.18163916e+03,  1.18794036e+06,  3.35972469e+05,
        2.97634226e+05,  1.47454804e+06,  5.57508112e+05, -9.90908665e+02,
        2.41505635e+05,  1.16645929e+06,  4.17711562e+05,  5.88850473e+05,
        4.34145820e+05,  1.48356131e+06, -1.52863042e+04,  3.75071372e+05,
        2.83938512e+05,  4.55463233e+05,  3.57014539e+05,  3.50346460e+05,
        4.83624962e+05,  5.15549275e+05,  3.18102378e+05,  5.16067064e+05,
        5.23617524e+05,  6.64066344e+05,  4.74083773e+05,  1.45601535e+06,
        1.69398659e+05,  6.64126076e+05,  4.38387028e+05,  1.02177263e+05,
        7.18895991e+05,  3.51248087e+05,  3.82184450e+05,  4.47973957e+05,
        4.08878245e+05,  6.56873809e+04,  5.23617524e+05,  1.19032416e+03,
        3.38396592e+05,  5.79261866e+05,  7.23260215e+05,  5.02826092e+05,
        4.01490046e+05,  2.98852689e+05,  7.49108963e+04,  5.24646035e+05,
        5.10827953e+05,  5.46220073e+05,  5.82515267e+05, -6.65132660e+04,
        4.58810575e+05, -4.24126359e+04,  4.40494274e+05,  7.03035131e+05,
        5.43693753e+05,  5.51076387e+05,  1.16466002e+05,  7.97325029e+05,
        5.28296842e+05,  6.01898306e+05,  6.00098301e+05,  1.35826141e+06,
       -2.89248052e+05,  1.49154312e+05,  1.74512227e+05,  4.85979741e+05,
        6.43815561e+05,  3.75327065e+05,  5.08298175e+05,  2.30102663e+04,
        6.19053528e+05,  4.92650598e+05,  4.68649423e+05,  1.61120175e+05,
        7.42609412e+05,  3.78907121e+05,  1.38593157e+05,  3.74115004e+05,
        2.47585148e+05,  2.91310475e+05,  5.30077642e+05,  5.36231142e+05,
        5.96886533e+05,  5.01660737e+05,  5.16618261e+05,  1.51970647e+05,
        3.11970252e+04,  5.77127096e+05,  4.19476757e+05,  1.32257951e+05,
        1.35983197e+06,  4.51373653e+05,  4.95528116e+05,  3.00519343e+05,
        2.99741472e+05,  2.46696366e+05,  5.60505856e+05,  6.92086230e+05,
        1.58296313e+06,  7.50480756e+05,  4.91810195e+05,  3.66884613e+05,
        1.61579455e+06,  1.77322264e+05,  3.92359945e+05,  3.55313864e+05,
        5.08846358e+05,  3.35268584e+05,  5.70858016e+05,  4.50459264e+05,
        3.12934063e+05,  6.36585118e+05,  5.40393043e+05,  4.58722228e+05,
        2.49533409e+05,  5.98620953e+05,  3.95798428e+05,  5.33205905e+05,
        6.85017025e+04,  4.22696327e+05,  7.21281472e+05,  5.01574190e+05,
        2.71435498e+05,  2.62645612e+05,  6.51659784e+05,  3.56307549e+05,
        3.07928231e+05,  1.24071192e+05,  8.45589901e+05,  5.20604835e+05,
        3.37120136e+05,  7.74775290e+05,  6.98220525e+05,  6.43504907e+05,
        4.90469365e+05,  4.88297725e+05,  4.49296179e+05,  3.05820985e+05,
        6.62968312e+05,  1.34774693e+06,  5.03797022e+05,  5.76435754e+05,
        4.00802397e+05,  3.29169750e+03,  1.29541830e+06,  4.18626258e+05,
        6.30726517e+05,  5.22797342e+05,  5.68041681e+05,  2.93867925e+05,
        5.12485661e+05,  6.75324084e+05,  5.52434579e+05,  4.77143447e+05,
        2.76461935e+05,  5.39797368e+04,  5.02081733e+05,  5.97292926e+05,
       -7.40010246e+03,  1.23741511e+05,  5.27848029e+05,  5.79012893e+05,
        6.10866769e+05,  6.21698280e+05, -3.61883402e+04, -2.07036049e+04,
        5.25533470e+05,  5.82770960e+05, -6.01126772e+04,  2.89680157e+05,
        2.55771907e+05,  3.31569816e+05,  3.48766775e+05,  4.59112221e+05,
        3.53513525e+05,  3.23874626e+05,  6.87954978e+05,  4.79196875e+05,
        5.35268373e+05,  5.81600877e+05,  4.50410884e+05,  3.83226249e+05])

In [198]:
accuracy = r2_score(y_test, pred)

print("Accuracy (R-squared score):", accuracy)

Accuracy (R-squared score): 0.49264953752426754

In [209]:
import pickle
pickle.dump(model,open('LinearRegressionModel.pkl','wb'))

In [210]:
if accuracy >= 0.7:
    print("The model is doing a good job explaining the variation in prices.")
elif 0.5 <= accuracy < 0.7:
    print("The model is decent but may be improved.")
else:
    print("The model needs improvement as it doesn't explain the variation well.")

The model needs improvement as it doesn't explain the variation well.

In [218]:
# Get user input for feature values
name = input("Enter the vehicle name (e.g., Maruti, Hyundai, etc.): ")
year = int(input("Enter the vehicle purchased year: "))
fuel_type = input("Enter the fuel type (Diesel, Petrol, LPG, CNG, Electric): ")
seller_type = input("Enter the seller type (Individual, Dealer, Trustmark Dealer): ")
transmission = input("Enter the transmission type (Manual, Automatic): ")
owner = input("Enter the owner type (First Owner, Second Owner, Third Owner, Fourth & Above Owner, Test Drive Car): ")
km_driven = float(input("Enter the kilometers driven: "))

# Map user input to numerical categories based on the provided mappings
name = {
    'Maruti': 1, 'Hyundai': 2, 'Datsun': 3, 'Honda': 4, 'Tata': 5, 'Chevrolet': 6,
    'Toyota': 7, 'Jaguar': 8, 'Mercedes-Benz': 9, 'Audi': 10, 'Skoda': 11, 'Jeep': 12,
    'BMW': 13, 'Mahindra': 14, 'Ford': 15, 'Nissan': 16, 'Renault': 17, 'Fiat': 18,
    'Volkswagen': 19, 'Volvo': 20, 'Mitsubishi': 21, 'Land': 22, 'Daewoo': 23, 'MG': 24,
    'Force': 25, 'Isuzu': 26, 'OpelCorsa': 27, 'Ambassador': 28, 'Kia': 29
}.get(name)

transmission = {'Manual': 1, 'Automatic': 2}.get(transmission)
seller_type = {'Individual': 1, 'Dealer': 2, 'Trustmark Dealer': 3}.get(seller_type)
fuel_type = {'Diesel': 1, 'Petrol': 2, 'LPG': 3, 'CNG': 4, 'Electric': 5}.get(fuel_type)
owner = {'First Owner': 1, 'Second Owner': 2, 'Third Owner': 3, 'Fourth & Above Owner': 4, 'Test Drive Car': 5}.get(owner)


# Make a prediction based on user input
user_input = pd.DataFrame([[name, year, km_driven, fuel_type, seller_type,transmission
                           ,owner]],columns=['name', 'year', 'km_driven', 'fuel_type',
                            'seller_type','transmission','owner'])

predicted_price = model.predict(user_input)

print(f"Predicted Price for the given input: ${predicted_price[0]:.2f}")

Enter the vehicle name (e.g., Maruti, Hyundai, etc.):  Maruti
Enter the vehicle purchased year:  2007
Enter the fuel type (Diesel, Petrol, LPG, CNG, Electric):  LPG
Enter the seller type (Individual, Dealer, Trustmark Dealer):  Dealer
Enter the transmission type (Manual, Automatic):  Automatic
Enter the owner type (First Owner, Second Owner, Third Owner, Fourth & Above Owner, Test Drive Car):  Second Owner
Enter the kilometers driven:  560000

ValueError: Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [219]:
print(used_car.isnull().sum())

name             0
year             0
selling_price    0
km_driven        0
fuel_type        0
seller_type      0
transmission     0
owner            0
dtype: int64