In [50]:
import pandas as pd

In [51]:
used_car=pd.read_csv('cardetails_data.csv')

In [52]:
used_car

,car_name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,Maruti 800 AC,2014,335000,559000,27000,Petrol,Dealer,Manual,First Owner
1,Maruti Wagon R LXI Minor,2013,475000,953999,43000,Diesel,Dealer,Manual,First Owner
2,Hyundai Verna 1.6 SX,2017,725000,985000,6900,Petrol,Dealer,Manual,First Owner
3,Datsun RediGO T Option,2011,285000,415000,5200,Petrol,Dealer,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,459999,687000,42450,Diesel,Dealer,Manual,First Owner
...,...,...,...,...,...,...,...,...,...
296,Maruti Baleno Alpha,2016,950000,1160000,33988,Diesel,Dealer,Manual,First Owner
297,Hyundai EON 1.0 Kappa Magna Plus,2015,400000,590000,60000,Petrol,Dealer,Manual,First Owner
298,Ford Figo Aspire 1.2 Ti-VCT Trend,2009,335000,1100000,87934,Petrol,Dealer,Manual,First Owner
299,Ford Figo Aspire Facelift,2017,1150000,1250000,9000,Diesel,Dealer,Manual,First Owner
300,Hyundai i10 Era,2016,530000,590000,5464,Petrol,Dealer,Manual,First Owner

In [53]:
used_car.head()

,car_name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,Maruti 800 AC,2014,335000,559000,27000,Petrol,Dealer,Manual,First Owner
1,Maruti Wagon R LXI Minor,2013,475000,953999,43000,Diesel,Dealer,Manual,First Owner
2,Hyundai Verna 1.6 SX,2017,725000,985000,6900,Petrol,Dealer,Manual,First Owner
3,Datsun RediGO T Option,2011,285000,415000,5200,Petrol,Dealer,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,459999,687000,42450,Diesel,Dealer,Manual,First Owner

In [54]:
used_car #to check how much data we have

,car_name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,Maruti 800 AC,2014,335000,559000,27000,Petrol,Dealer,Manual,First Owner
1,Maruti Wagon R LXI Minor,2013,475000,953999,43000,Diesel,Dealer,Manual,First Owner
2,Hyundai Verna 1.6 SX,2017,725000,985000,6900,Petrol,Dealer,Manual,First Owner
3,Datsun RediGO T Option,2011,285000,415000,5200,Petrol,Dealer,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,459999,687000,42450,Diesel,Dealer,Manual,First Owner
...,...,...,...,...,...,...,...,...,...
296,Maruti Baleno Alpha,2016,950000,1160000,33988,Diesel,Dealer,Manual,First Owner
297,Hyundai EON 1.0 Kappa Magna Plus,2015,400000,590000,60000,Petrol,Dealer,Manual,First Owner
298,Ford Figo Aspire 1.2 Ti-VCT Trend,2009,335000,1100000,87934,Petrol,Dealer,Manual,First Owner
299,Ford Figo Aspire Facelift,2017,1150000,1250000,9000,Diesel,Dealer,Manual,First Owner
300,Hyundai i10 Era,2016,530000,590000,5464,Petrol,Dealer,Manual,First Owner

In [55]:
used_car.info() #to see type and if there are any null values or not like that

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    int64
 3   Present_Price  301 non-null    int64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    object
dtypes: int64(4), object(5)
memory usage: 21.3+ KB

In [56]:
#Now check with unique if the date is proper or not
#check if any column include nan/null values
#check int type column first because all data in it should be of int so there imporper data
#that should be cleaned
#we have to now cleaned a dataset

In [57]:
#null check
used_car.isnull().sum()

car_name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [58]:
used_car.shape

(301, 9)

In [59]:
#Duplicate check
used_car.duplicated().sum()

0

In [60]:
used_car.shape

(301, 9)

In [61]:
#Data Analysis

for col in used_car.columns:
    print('Unique values of ' + col)
    print(used_car[col].unique())
    print("======================")

Unique values of car_name
['Maruti 800 AC' 'Maruti Wagon R LXI Minor' 'Hyundai Verna 1.6 SX'
 'Datsun RediGO T Option' 'Honda Amaze VX i-DTEC' 'Maruti Alto LX BSIII'
 'Hyundai Xcent 1.2 Kappa S' 'Tata Indigo Grand Petrol'
 'Hyundai Creta 1.6 VTVT S' 'Maruti Celerio Green VXI'
 'Chevrolet Sail 1.2 Base' 'Toyota Corolla Altis 1.8 VL CVT'
 'Maruti Ciaz VXi Plus' 'Hyundai Venue SX Opt Diesel'
 'Chevrolet Enjoy TCDi LTZ 7 Seater' 'Jaguar XF 2.2 Litre Luxury'
 'Mercedes-Benz New C-Class 220 CDI AT'
 'Maruti Vitara Brezza ZDi Plus AMT' 'Audi Q5 2.0 TDI' 'Honda City V MT'
 'Tata Tigor 1.2 Revotron XT' 'Audi A6 2.0 TDI  Design Edition'
 'Mercedes-Benz New C-Class C 220 CDI Avantgarde'
 'Skoda Superb Ambition 2.0 TDI CR AT' 'Toyota Corolla Altis G AT'
 'Toyota Innova 2.5 G (Diesel) 7 Seater'
 'Jeep Compass 1.4 Sport Plus BSIV'
 'Mercedes-Benz E-Class E 200 CGI Elegance' 'Hyundai i10 Magna 1.1L'
 'BMW 3 Series 320d Sport Line' 'Audi Q7 35 TDI Quattro Premium'
 'Hyundai Elantra CRDi S' 'Mahindra Scorpio 1.99 S10'
 'Honda City i DTEC V' 'Maruti Wagon R VXI BS IV with ABS'
 'Maruti Wagon R VXI BS IV' 'Mahindra Scorpio LX'
 'Hyundai Santro Xing GLS' 'Hyundai Grand i10 1.2 Kappa Asta'
 'Maruti Alto LXi' 'Maruti Swift Dzire VDI Optional'
 'Maruti Eeco 5 Seater AC BSIV' 'Hyundai i20 Sportz 1.4 CRDi'
 'Maruti Omni Maruti Omni MPI STD BSIII 5-STR W/ IMMOBILISER'
 'Maruti Swift ZDi BSIV' 'Hyundai i20 2015-2017 Sportz Option 1.4 CRDi'
 'Mahindra Jeep CL 500 MDI' 'Honda City i DTEC VX' 'Tata Indica DLS'
 'Hyundai EON Magna Plus' 'Toyota Etios GD'
 'Chevrolet Tavera Neo LS B3 - 7(C) seats BSIII'
 'Toyota Corolla Altis Diesel D4DG' 'Mahindra Scorpio 1.99 S6 Plus'
 'Tata Indigo Classic Dicor' 'Toyota Innova 2.5 V Diesel 8-seater'
 'Tata Indica Vista Quadrajet LS' 'Maruti Swift 1.3 VXi'
 'Ford EcoSport 1.5 Diesel Titanium BSIV' 'Maruti Ciaz 1.3 Delta'
 'Honda Civic 1.8 V AT' 'Hyundai i10 Sportz 1.2'
 'Skoda Rapid 1.5 TDI Elegance' 'Hyundai Getz GLS' 'Nissan Terrano XL'
 'Hyundai Grand i10 CRDi Sportz' 'Hyundai Elite i20 Diesel Era'
 'Honda Amaze S i-VTEC' 'Honda Brio S MT' 'Hyundai Creta 1.6 SX Option'
 'Mercedes-Benz S-Class S 350d Connoisseurs Edition'
 'Mahindra XUV500 W8 2WD' 'Renault Duster 85PS Diesel RxL Optional'
 'Hyundai Santro Xing XO' 'Mahindra Bolero 2011-2019 SLE'
 'Audi A6 2.0 TDI Premium Plus' 'Fiat Avventura MULTIJET Emotion'
 'Audi A8 4.2 TDI' 'Datsun RediGO 1.0 S'
 'Volkswagen Jetta 1.4 TSI Comfortline'
 'Audi A4 2.0 TDI 177 Bhp Premium Plus'
 'Mercedes-Benz E-Class Exclusive E 200 BSIV' 'BMW X1 sDrive 20d xLine'
 'Volvo V40 D3 R Design' 'Maruti SX4 Zxi BSIII' 'BMW 7 Series 730Ld'
 'Mahindra Bolero Power Plus SLX' 'Hyundai Sonata CRDi M/T'
 'Nissan Micra Active XV Petrol' 'Mahindra Xylo D4'
 'Hyundai Elite i20 Sportz Plus Dual Tone BSIV' 'Renault KWID RXT'
 'Mahindra Xylo E4 BS III' 'Maruti SX4 ZXI MT BSIV'
 'Hyundai Creta 1.4 CRDi S' 'Maruti Swift Dzire VDI'
 'Hyundai Verna 1.6 VTVT AT S Option' 'Mahindra Scorpio LX BSIV'
 'Maruti SX4 Vxi BSIII' 'Maruti Ertiga VDI' 'Chevrolet Beat Diesel'
 'Maruti Zen LX' 'Maruti Baleno Delta 1.2' 'Maruti Swift Vdi BSIII'
 'Tata Nano Lx BSIV' 'Toyota Innova 2.5 GX (Diesel) 8 Seater'
 'Maruti Ertiga SHVS VDI' 'Hyundai Creta 1.6 CRDi SX'
 'Honda Amaze S i-Vtech' 'Tata Indica Vista Aqua 1.4 TDI'
 'Chevrolet Tavera Neo 2 LS B4 7 Str BSIII' 'Chevrolet Cruze LTZ'
 'Ford Figo Aspire 1.2 Ti-VCT Titanium Plus'
 'Ford EcoSport 1.5 Diesel Titanium Plus BSIV' 'Hyundai i10 Sportz 1.1L'
 'Maruti 800 Std' 'Chevrolet Spark 1.0 LS' 'Hyundai EON Era Plus'
 'Tata Indica Vista Aqua TDI BSIII' 'Hyundai Santro LP zipPlus'
 'Tata Bolt Quadrajet XE' 'Maruti 800 AC BSIII' 'Hyundai i20 Magna 1.2'
 'Hyundai i20 1.2 Asta' 'Maruti Ciaz VDi Plus' 'Hyundai i20 Asta 1.4 CRDi'
 'Hyundai Santro LE' 'Maruti Vitara Brezza VDi'
 'Hyundai Santro Xing XL eRLX Euro III' 'Hyundai Getz 1.3 GLS'
 'Mahindra Quanto C8' 'Chevrolet Tavera Neo 3 LS 7 C BSIII'
 'Maruti Wagon R DUO LPG' 'Maruti Wagon R LXI'
 'Chevrolet Enjoy 1.3 TCDi LS 8' 'Honda City i VTEC SV'
 'Jaguar XJ 5.0 L V8 Supercharged' 'Honda Brio E MT'
 'Maruti Swift VVT ZXI' 'Tata Indigo CR4' 'Hyundai i10 Asta AT'
 'Chevrolet Beat LT' 'Maruti Swift VDI BSIV'
 'Renault Duster 110PS Diesel RxZ' 'Hyundai Santro Xing XG'
 'Maruti Swift Dzire ZXI Plus' 'Maruti Alto K10 LXI CNG'
 'Maruti 800 Std BSII' 'Tata Nano LX SE'
 'Skoda Rapid 1.6 MPI Ambition With Alloy Wheel' 'Maruti Alto K10 VXI'
 'Maruti Ciaz 1.4 Delta' 'Maruti Alto LX' 'Hyundai i20 Asta'
 'Tata Nexon 1.2 Revotron XM' 'Maruti Zen D'
 'Volkswagen Vento Celeste 1.5 TDI Highline AT'
 'Maruti Eeco 7 Seater Standard BSIV' 'Honda City 1.5 EXI'
 'Maruti SX4 Zxi with Leather BSIII' 'Ford Figo Diesel Titanium'
 'Maruti Swift Dzire VDi' 'Mahindra Xylo E4' 'Maruti Esteem Vxi - BSIII'
 'Hyundai i20 1.2 Sportz' 'Chevrolet Beat Diesel LT'
 'Chevrolet Cruze LTZ AT' 'Nissan Micra XL'
 'BMW 5 Series 520d Luxury Line' 'Hyundai EON Era Plus Option'
 'Fiat Linea T Jet Emotion' 'Renault Scala RxL'
 'Ford Figo Petrol Titanium' 'Maruti Ciaz ZDi SHVS'
 'Skoda Rapid 1.5 TDI Ambition BSIV' 'Mahindra XUV500 W6 2WD'
 'Mahindra XUV300 W8 Option' 'Maruti Ertiga SHVS ZDI'
 'Nissan Terrano XE D' 'Maruti S-Cross Facelift'
 'Hyundai i20 Magna 1.4 CRDi (Diesel)'
 'Mercedes-Benz New C-Class C 220 CDI BE Avantgare'
 'Volkswagen Ameo 1.5 TDI Highline'
 'Maruti Omni LPG CARGO BSIII W IMMOBILISER' 'Hyundai Verna i (Petrol)'
 'Mahindra Renault Logan 1.5 DLS' 'Chevrolet Optra Magnum 2.0 LS BSIII'
 'Mahindra Scorpio S11 BSIV' 'Hyundai i20 Active 1.2 SX'
 'Maruti SX4 Celebration Diesel' 'Hyundai Grand i10 Magna'
 'Maruti Alto LXi BSIII' 'Hyundai i10 Era'
 'Toyota Innova 2.5 V Diesel 7-seater' 'Honda Mobilio V i DTEC'
 'Toyota Innova 2.5 G (Diesel) 7 Seater BS IV'
 'Tata Indica V2 2001-2011 DLS BSIII' 'Tata Indica Vista TDI LS'
 'Chevrolet Beat Diesel LS' 'Tata Zest Quadrajet 1.3 75PS XE'
 'Skoda Fabia 1.2L Diesel Ambiente'
 'Toyota Innova 2.5 VX (Diesel) 8 Seater'
 'Hyundai Grand i10 1.2 CRDi Asta' 'Datsun GO Plus T Option Petrol'
 'Maruti Omni MPI STD BSIV' 'Maruti Baleno Alpha 1.2'
 'Ford Fiesta Classic 1.4 SXI Duratorq'
 'Hyundai Elite i20 Asta Option BSIV' 'Hyundai Grand i10 CRDi Magna'
 'Hyundai Santro Xing GL Plus' 'Tata Sumo GX TC 7 Str BSIII'
 'Maruti Vitara Brezza LDi Option' 'Honda Jazz S' 'Hyundai i20 1.4 Sportz'
 'Maruti Ertiga SHVS ZDI Plus' 'Tata Sumo SE Plus BSIII'
 'Maruti Ertiga VXI' 'Hyundai i20 1.4 Magna ABS' 'Hyundai Getz GL'
 'Maruti Wagon R LX BS IV' 'Hyundai i20 1.2 Spotz' 'Maruti Alto 800 VXI'
 'Hyundai i20 Asta (o)' 'Hyundai Verna 1.6 SX CRDi (O)'
 'Mahindra Xylo D2 BSIV' 'Mahindra Bolero SLX 2WD BSIII'
 'Maruti Ertiga VXI ABS' 'Honda Brio 1.2 E MT' 'Toyota Etios Liva G'
 'Maruti Alto 800 LXI' 'Maruti Swift Dzire 1.2 Vxi BSIV'
 'Mahindra Scorpio VLS AT 2.2 mHAWK' 'Mahindra Bolero SLX'
 'Mahindra XUV500 W11 Option AWD' 'Tata Tiago 1.2 Revotron XZ'
 'Mahindra Marazzo M8 8Str' 'Renault Duster 110PS Diesel RxL'
 'Maruti Wagon R VXI' 'Chevrolet Spark 1.0 LT' 'Maruti Baleno Alpha'
 'Hyundai EON 1.0 Kappa Magna Plus' 'Ford Figo Aspire 1.2 Ti-VCT Trend'
 'Ford Figo Aspire Facelift']
======================
Unique values of Year
[2014 2013 2017 2011 2018 2015 2016 2009 2010 2012 2003 2008 2006 2005
 2004 2007]
======================
Unique values of Selling_Price
[ 335000  475000  725000  285000  459999  925000  675000  650000  875000
  745000  685000  750000  610000  225000  775000  325000  265000  490000
  440000  250000  290000  300000  415000  600000  195000  310000  235000
  495000  550000  295000  465000   35000  585000  254999  125000  105000
  580000 1490000 2300000 1800000 1600000  275000  360000  450000  409999
 1998999  695000 1875000 2350000 3300000 1975000  434999 1425000  395000
  150000  525000 1450000 1473000 1250000  349000 3500000  590000  345000
  380000 1125000  351000  400000 2075000 1700000  705000  965000  175000
  170000  165000  145000  135000  120000  114999  111000  110000  100000
   95000   90000   75000   80000   78000   72000   65000   60000   55000
   52000   51000   50000   48000   45000   42000   40000   38000   31000
   30000   27000   25000   20000   18000   17000   16000   15000   12000
   10000  575000  515000  790000  484999 1175000  315000  645000  350000
  825000  511000  270000  615000 1145000  390000  910000  480000  200000
  535000  625000  595000  520000  375000 1290000  500000  540000  720000
 1025000  850000  840000  915000  660000  365000  835000  670000  530000
 1090000  865000  969999  210000  899000  740000  565000 1011000  640000
  855000  950000 1150000]
======================
Unique values of Present_Price
[ 559000  953999  985000  415000  687000  983000  811999  861000  889000
  892000  360000 1038000  994000  771000  721000 1079000  509000  798000
  395000  571000  801000  346000  441000  499000  587000  649000  598000
  488999  749000  994999  806000  774000  720000  227999  376000  787000
  398000  715000  269000 1204000  928999 3061000 1977000 1021000 1504000
  727000 1854000  680000 3596000 1861000  770000 3622999  695000 2315000
 2045000 1374000 2091000  676000 1248000  893000 1468000 1235000 2283000
 1489000  785000 2539000 1346000 2373000 9260000  605000 1609000 1370000
 2278000 1864000  190000  182000  178000  160000  147000  237000  345000
  150000  240000  140000  126000  117000  175000   95000   80000   87000
   84000   82000   81000   74000  120000   78700   99000   94000   82600
   55000   88000   51000   52000   54000   73000   83000   64000   72000
  105000   56999   48000   57999   47000   75000   65000   32000  679000
  570000  459999  443000  713000  810000 1479000 1360000  940000  760000
  990000  682000  535000  700000  597000  580000  869999 1000000  750000
  840000  590000 1400000 1180000  850000  790000  640000  610000 1309000
 1160000 1100000 1250000]
======================
Unique values of Kms_Driven
[ 27000  43000   6900   5200  42450   2071  18796  33429  20273  42367
   2135  51000  15000  26000  77427  41678  35500  41442  25000   2400
  50000  45280  56879  20000  55138  16200  44542  45000  51439  54200
  39000  49998  48767 127000  10079  62000  24524  46706  58000  45780
  64532  65000  25870  37000 104707  40000 135000  90000  70000  40534
  39485  41000  40001  40588  78000  47000   6000  11000  59000  88000
  12000  71000  56001  83000  36000  72000 135154  80000  89000  23000
  38000 197176 142000  56000  58242  75000  29000   8700  50024   3000
   1400   4000   1200   4100  21700  16500  18000   7000  35000  17000
  17500  33000  14000   5400   5700  46500  11500   1300   5000   3500
    500  11800  23500  16000  16600  32000  19000  24000  31000  13000
   8000   4300   8600  14500   1000  42000   5500   6700  13700  38600
  30000 213000  60000  21000   1900  22000  55000  49000 500000  53000
  92233  28200  53460  28282   3493  12479  34797   3435  21125  35775
  43535  22671  31604  20114  36100  12500  45078  38488  77632  61381
  36198  22517  24678  57000  52132  15001  12900   4492  15141  11849
  68000  60241  23709  32322  35866  34000  35934  56701  31427  48000
  54242  53675  49562  40324  36054  29223   5600  40023  16002  40026
  21200  19434  18828  69341  69562  27600  61203  30753  24800  21780
  40126  14465  50456  63000   9010   9800  15059  28569  44000  10980
  33019  60076  33988  87934   9000   5464]
======================
Unique values of Fuel_Type
['Petrol' 'Diesel' 'CNG']
======================
Unique values of Seller_Type
['Dealer' 'Individual']
======================
Unique values of Transmission
['Manual' 'Automatic']
======================
Unique values of Owner
['First Owner' 'Second Owner' 'Third Owner']
======================

In [62]:
#name column has tuple in that name is too long so we will keep only first three 
#First word of full name that is only brand name 
#as it will give more better categoricol name
# Now we will clean the dataset as per our need
##Cleaning

#first backup the copy as if while cleaning the date gets corrupted then
#no need to reload the full dataset again , so more comfortable with backup copy, if dataset
#is big

backup=used_car.copy()

In [63]:
def get_brand_name(car_name):
    car_name = car_name.split(' ')[0]
    return car_name.strip()

In [64]:
#for example
get_brand_name('Maruti Wagon R LXI Minor')

'Maruti'

In [65]:
used_car['car_name'] = used_car['car_name'].apply(get_brand_name)

In [66]:
used_car['car_name'].unique()

array(['Maruti', 'Hyundai', 'Datsun', 'Honda', 'Tata', 'Chevrolet',
       'Toyota', 'Jaguar', 'Mercedes-Benz', 'Audi', 'Skoda', 'Jeep',
       'BMW', 'Mahindra', 'Ford', 'Nissan', 'Renault', 'Fiat',
       'Volkswagen', 'Volvo'], dtype=object)

In [67]:
used_car['car_name']

0       Maruti
1       Maruti
2      Hyundai
3       Datsun
4        Honda
        ...
296     Maruti
297    Hyundai
298       Ford
299       Ford
300    Hyundai
Name: car_name, Length: 301, dtype: object

In [68]:
used_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    int64
 3   Present_Price  301 non-null    int64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    object
dtypes: int64(4), object(5)
memory usage: 21.3+ KB

In [69]:
used_car

,car_name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,Maruti,2014,335000,559000,27000,Petrol,Dealer,Manual,First Owner
1,Maruti,2013,475000,953999,43000,Diesel,Dealer,Manual,First Owner
2,Hyundai,2017,725000,985000,6900,Petrol,Dealer,Manual,First Owner
3,Datsun,2011,285000,415000,5200,Petrol,Dealer,Manual,First Owner
4,Honda,2014,459999,687000,42450,Diesel,Dealer,Manual,First Owner
...,...,...,...,...,...,...,...,...,...
296,Maruti,2016,950000,1160000,33988,Diesel,Dealer,Manual,First Owner
297,Hyundai,2015,400000,590000,60000,Petrol,Dealer,Manual,First Owner
298,Ford,2009,335000,1100000,87934,Petrol,Dealer,Manual,First Owner
299,Ford,2017,1150000,1250000,9000,Diesel,Dealer,Manual,First Owner
300,Hyundai,2016,530000,590000,5464,Petrol,Dealer,Manual,First Owner

In [70]:
for col in used_car.columns:
    print('Unique values of ' + col)
    print(used_car[col].unique())
    print("======================")

Unique values of car_name
['Maruti' 'Hyundai' 'Datsun' 'Honda' 'Tata' 'Chevrolet' 'Toyota' 'Jaguar'
 'Mercedes-Benz' 'Audi' 'Skoda' 'Jeep' 'BMW' 'Mahindra' 'Ford' 'Nissan'
 'Renault' 'Fiat' 'Volkswagen' 'Volvo']
======================
Unique values of Year
[2014 2013 2017 2011 2018 2015 2016 2009 2010 2012 2003 2008 2006 2005
 2004 2007]
======================
Unique values of Selling_Price
[ 335000  475000  725000  285000  459999  925000  675000  650000  875000
  745000  685000  750000  610000  225000  775000  325000  265000  490000
  440000  250000  290000  300000  415000  600000  195000  310000  235000
  495000  550000  295000  465000   35000  585000  254999  125000  105000
  580000 1490000 2300000 1800000 1600000  275000  360000  450000  409999
 1998999  695000 1875000 2350000 3300000 1975000  434999 1425000  395000
  150000  525000 1450000 1473000 1250000  349000 3500000  590000  345000
  380000 1125000  351000  400000 2075000 1700000  705000  965000  175000
  170000  165000  145000  135000  120000  114999  111000  110000  100000
   95000   90000   75000   80000   78000   72000   65000   60000   55000
   52000   51000   50000   48000   45000   42000   40000   38000   31000
   30000   27000   25000   20000   18000   17000   16000   15000   12000
   10000  575000  515000  790000  484999 1175000  315000  645000  350000
  825000  511000  270000  615000 1145000  390000  910000  480000  200000
  535000  625000  595000  520000  375000 1290000  500000  540000  720000
 1025000  850000  840000  915000  660000  365000  835000  670000  530000
 1090000  865000  969999  210000  899000  740000  565000 1011000  640000
  855000  950000 1150000]
======================
Unique values of Present_Price
[ 559000  953999  985000  415000  687000  983000  811999  861000  889000
  892000  360000 1038000  994000  771000  721000 1079000  509000  798000
  395000  571000  801000  346000  441000  499000  587000  649000  598000
  488999  749000  994999  806000  774000  720000  227999  376000  787000
  398000  715000  269000 1204000  928999 3061000 1977000 1021000 1504000
  727000 1854000  680000 3596000 1861000  770000 3622999  695000 2315000
 2045000 1374000 2091000  676000 1248000  893000 1468000 1235000 2283000
 1489000  785000 2539000 1346000 2373000 9260000  605000 1609000 1370000
 2278000 1864000  190000  182000  178000  160000  147000  237000  345000
  150000  240000  140000  126000  117000  175000   95000   80000   87000
   84000   82000   81000   74000  120000   78700   99000   94000   82600
   55000   88000   51000   52000   54000   73000   83000   64000   72000
  105000   56999   48000   57999   47000   75000   65000   32000  679000
  570000  459999  443000  713000  810000 1479000 1360000  940000  760000
  990000  682000  535000  700000  597000  580000  869999 1000000  750000
  840000  590000 1400000 1180000  850000  790000  640000  610000 1309000
 1160000 1100000 1250000]
======================
Unique values of Kms_Driven
[ 27000  43000   6900   5200  42450   2071  18796  33429  20273  42367
   2135  51000  15000  26000  77427  41678  35500  41442  25000   2400
  50000  45280  56879  20000  55138  16200  44542  45000  51439  54200
  39000  49998  48767 127000  10079  62000  24524  46706  58000  45780
  64532  65000  25870  37000 104707  40000 135000  90000  70000  40534
  39485  41000  40001  40588  78000  47000   6000  11000  59000  88000
  12000  71000  56001  83000  36000  72000 135154  80000  89000  23000
  38000 197176 142000  56000  58242  75000  29000   8700  50024   3000
   1400   4000   1200   4100  21700  16500  18000   7000  35000  17000
  17500  33000  14000   5400   5700  46500  11500   1300   5000   3500
    500  11800  23500  16000  16600  32000  19000  24000  31000  13000
   8000   4300   8600  14500   1000  42000   5500   6700  13700  38600
  30000 213000  60000  21000   1900  22000  55000  49000 500000  53000
  92233  28200  53460  28282   3493  12479  34797   3435  21125  35775
  43535  22671  31604  20114  36100  12500  45078  38488  77632  61381
  36198  22517  24678  57000  52132  15001  12900   4492  15141  11849
  68000  60241  23709  32322  35866  34000  35934  56701  31427  48000
  54242  53675  49562  40324  36054  29223   5600  40023  16002  40026
  21200  19434  18828  69341  69562  27600  61203  30753  24800  21780
  40126  14465  50456  63000   9010   9800  15059  28569  44000  10980
  33019  60076  33988  87934   9000   5464]
======================
Unique values of Fuel_Type
['Petrol' 'Diesel' 'CNG']
======================
Unique values of Seller_Type
['Dealer' 'Individual']
======================
Unique values of Transmission
['Manual' 'Automatic']
======================
Unique values of Owner
['First Owner' 'Second Owner' 'Third Owner']
======================

In [71]:
used_car.describe()

              Year  Selling_Price  Present_Price     Kms_Driven
count   301.000000   3.010000e+02   3.010000e+02     301.000000
mean   2013.627907   4.661295e+05   7.628471e+05   36947.205980
std       2.891554   5.082812e+05   8.644116e+05   38886.883882
min    2003.000000   1.000000e+04   3.200000e+04     500.000000
25%    2012.000000   9.000000e+04   1.200000e+05   15000.000000
50%    2014.000000   3.600000e+05   6.400000e+05   32000.000000
75%    2016.000000   6.000000e+05   9.900000e+05   48767.000000
max    2018.000000   3.500000e+06   9.260000e+06  500000.000000

In [72]:
#now for better understanding i am saving the this cleaned csv in file with other name

used_car.to_csv('Cleaned_used_cars_dataset.csv')

In [73]:
# checking the distribution of categorical data
print(used_car.Fuel_Type.value_counts())
print(used_car.Seller_Type.value_counts())
print(used_car.Transmission.value_counts())
print(used_car.Owner.value_counts())

Fuel_Type
Petrol    239
Diesel     60
CNG         2
Name: count, dtype: int64
Seller_Type
Dealer        195
Individual    106
Name: count, dtype: int64
Transmission
Manual       261
Automatic     40
Name: count, dtype: int64
Owner
First Owner     290
Second Owner     10
Third Owner       1
Name: count, dtype: int64

In [74]:
used_car.isnull().sum()

car_name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [75]:
##Build the Model

#extract the feature and not want drop , will come all in X
#and target column price ,which is dropped will come in y 

X=used_car.drop(columns=['Selling_Price'])
y=used_car['Selling_Price']  #target column

In [76]:
X #all features except price

,car_name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,Maruti,2014,559000,27000,Petrol,Dealer,Manual,First Owner
1,Maruti,2013,953999,43000,Diesel,Dealer,Manual,First Owner
2,Hyundai,2017,985000,6900,Petrol,Dealer,Manual,First Owner
3,Datsun,2011,415000,5200,Petrol,Dealer,Manual,First Owner
4,Honda,2014,687000,42450,Diesel,Dealer,Manual,First Owner
...,...,...,...,...,...,...,...,...
296,Maruti,2016,1160000,33988,Diesel,Dealer,Manual,First Owner
297,Hyundai,2015,590000,60000,Petrol,Dealer,Manual,First Owner
298,Ford,2009,1100000,87934,Petrol,Dealer,Manual,First Owner
299,Ford,2017,1250000,9000,Diesel,Dealer,Manual,First Owner
300,Hyundai,2016,590000,5464,Petrol,Dealer,Manual,First Owner

In [77]:
y # target column

0       335000
1       475000
2       725000
3       285000
4       459999
        ...
296     950000
297     400000
298     335000
299    1150000
300     530000
Name: Selling_Price, Length: 301, dtype: int64

In [78]:
#we will import necessary files all
#train_test_split from sklearn

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.1,random_state=2)

In [79]:
#using linerRegression model
from sklearn.linear_model import LinearRegression

In [80]:
used_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    int64
 3   Present_Price  301 non-null    int64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    object
dtypes: int64(4), object(5)
memory usage: 21.3+ KB

In [81]:
#now in onehatencoder we r gona make the object of onehatencoder
#and in that we r gona fit all categorical values of X

from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
ohe.fit(X[['car_name','Fuel_Type','Seller_Type','Transmission','Owner']])

OneHotEncoder()

In [82]:
#now transform all X_traine and X_test using this onehotencoder

from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [83]:
ohe.categories_

[array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Ford', 'Honda',
        'Hyundai', 'Jaguar', 'Jeep', 'Mahindra', 'Maruti', 'Mercedes-Benz',
        'Nissan', 'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen',
        'Volvo'], dtype=object),
 array(['CNG', 'Diesel', 'Petrol'], dtype=object),
 array(['Dealer', 'Individual'], dtype=object),
 array(['Automatic', 'Manual'], dtype=object),
 array(['First Owner', 'Second Owner', 'Third Owner'], dtype=object)]

In [84]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['car_name','Fuel_Type','Seller_Type','Transmission','Owner']),
                                  remainder='passthrough')

In [85]:
linear_reg=LinearRegression()

In [86]:
pipe_linear=make_pipeline(column_trans,linear_reg)

In [87]:
pipe_linear.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Ford', 'Honda',
       'Hyundai', 'Jaguar', 'Jeep', 'Mahindra', 'Maruti', 'Mercedes-Benz',
       'Nissan', 'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen',
       'Volvo'], dtype=object),
                                                                            array(['CNG', 'Diesel', 'Petrol'], dtype=object),
                                                                            array(['Dealer', 'Individual'], dtype=object),
                                                                            array(['Automatic', 'Manual'], dtype=object),
                                                                            array(['First Owner', 'Second Owner', 'Third Owner'], dtype=object)]),
                                                  ['car_name', 'Fuel_Type',
                                                   'Seller_Type',
                                                   'Transmission',
                                                   'Owner'])])),
                ('linearregression', LinearRegression())])

In [88]:
pred=pipe_linear.predict(X_test)

In [89]:
from sklearn.metrics import r2_score
r2=r2_score(y_test,pred)
print("R Square",r2)

R Square 0.8652166846583011

In [90]:
import pickle

In [91]:
pickle.dump(pipe_linear,open('LinearRegressionModel.pkl','wb'))

In [92]:
if r2 >= 0.7:
    print("The model is doing a good job explaining the variation in prices.")
elif 0.5 <= r2 < 0.7:
    print("The model is decent but may be improved.")
else:
    print("The model needs improvement as it doesn't explain the variation well.")

The model is doing a good job explaining the variation in prices.

In [93]:
used_car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    int64
 3   Present_Price  301 non-null    int64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    object
dtypes: int64(4), object(5)
memory usage: 21.3+ KB

In [98]:
# Import necessary libraries
import pandas as pd

# Get user input for feature values
print("Enter vehicle details:")
print("Vehicle Name:'Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Ford', 'Honda','Hyundai', 'Jaguar', 'Jeep', 'Mahindra', 'Maruti', 'Mercedes-Benz','Nissan', 'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen','Volvo'")
car_name = input("Enter vehicle name(Choose from above): ")
print("")
Year = int(input("Enter vehicle purchased year: "))
print("")
Kms_Driven = float(input("Enter kms driven: "))
print("")
Present_Price = input("Enter Present_Price:")
print("")
print("Fuel_type:'CNG', 'Diesel','Petrol'")
Fuel_Type = input("Enter fuel_type:(Choose from above) ")
print("")
print("Seller_Type:'Dealer', 'Individual'")
Seller_Type = input("Enter Seller_Type :(Choose from above)")
print("")
print("Transmission:'Automatic', 'Manual'")
Transmission = input("Enter Transmission :(Choose from above)")
print("")
print("Owner:'First Owner','Second Owner','Third Owner'")
Owner = input("Enter owner:(Choose from above) ")
print("")

print("")

# Make a prediction based on user input
user_input = pd.DataFrame([[car_name, Year, Kms_Driven,Present_Price, Fuel_Type,Seller_Type
                           ,Transmission,Owner]],
                          columns=['car_name', 'Year', 'Kms_Driven','Present_Price','Fuel_Type',
                                   'Seller_Type','Transmission','Owner'
                                   ])

predicted_price = pipe_linear.predict(user_input)

print(f"Predicted Price for the given input: ${predicted_price[0]:.2f}")

Enter vehicle details:
Vehicle Name:'Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Ford', 'Honda','Hyundai', 'Jaguar', 'Jeep', 'Mahindra', 'Maruti', 'Mercedes-Benz','Nissan', 'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen','Volvo'

Enter vehicle name(Choose from above):  Audi

Enter vehicle purchased year:  2001

Enter kms driven:  456789

Enter Present_Price: 4500000

Fuel_type:'CNG', 'Diesel','Petrol'

Enter fuel_type:(Choose from above)  Petrol

Seller_Type:'Dealer', 'Individual'

Enter Seller_Type :(Choose from above) Dealer

Transmission:'Automatic', 'Manual'

Enter Transmission :(Choose from above) Automatic

Owner:'First Owner','Second Owner','Third Owner'

Enter owner:(Choose from above)  First Owner

Predicted Price for the given input: $1712416.86